server 
{
    listen 8000;
    host 127.0.0.1;

    root ./public;
    index index.html;

    client_max_body_size 100m;

    error_page 405 405.html;
    error_page 404 404.html;
    error_page 413 413.html;

    location / {
        allow_methods [GET];
        autoindex off;
        root ./public;
        index index.html;
    }

    location /about {
        allow_methods GET;
        autoindex off;
        root ./public;
        index about.html;
        # return 302 maintenance.html;
    }

    location /send-files {
        allow_methods [GET POST];
        autoindex off;
        root ./public;
        index upload.html;
        # return 302 maintenance.html;
    }

    location /storage {
        allow_methods [GET POST DELETE];
        autoindex off;
        root ./public;
        index uploaded.html;
    }

    location /form {
        allow_methods [GET POST];
        autoindex off;
        root ./public;
        index form.html;
    }
}

server
{
    listen 8001;
    host 127.0.0.1;

    root ./public;
    index index.html;

    client_max_body_size 100m;

    location / {
        allow_methods [GET];
        autoindex on;
        index index.html;

    }

    location /about {
        allow_methods GET;
        autoindex off;
        root ./public;
        index about.html;
        # return 302 maintenance.html;
    }

    location /send-files {
        allow_methods [GET POST];
        autoindex on;
        root ./public;
        index upload.html;
        # return 302 maintenance.html;
    }

    location /storage {
        allow_methods [GET POST DELETE];
        autoindex on;
        root ./public;
        index uploaded.html;
    }

    location /form {
        allow_methods [GET POST];
        autoindex on;
        root ./public;
        index form.html;
    }
}
