server {
    listen 127.0.0.1:1312;
    server_name localhost;
    root = "../uploads";

    max_body_size 200000;

    error_page 402  402.html;
    error_page 400  400.html;


    location / {
        root /Users/antoine/Documents/19/webserv_-main;
        index index.html;
        accept POST;
        accept GET;
        cgi ./cgi;
        upload_dir uploads;
    }

    location /css { 
        root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    } 

    location /images {
        root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    }

    location /images {
        root root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    }

    location /uploads {
        root root /Users/antoine/Documents/19/webserv_-main/uploads;
        accept GET;
		accept POST;
        accept DELETE;
    }
}

server {
    listen 192.168.129.210:1313;
        server_name test;
		
    root = "../uploads";

    max_body_size 100000;

    error_page 404  404.html;
    error_page 400  400.html;


    
    location / {
        root /Users/antoine/Documents/19/webserv_-main;
        index index.html;
        accept POST;
        accept GET;
        cgi ../cgi-bin;
        upload_dir uploads;
    }

    location /css { 
        root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    } 

    location /images {
        root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    }

    location /images {
        root root /Users/antoine/Documents/19/webserv_-main;
        accept GET;
    }

    location /uploads {
        root root /Users/antoine/Documents/19/webserv_-main/uploads;
        accept GET;
		accept POST;
        accept DELETE;
    }
}